@page
@model WorkUA.Pages.Vacancies.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Vacancy</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Vacancy.Id"/>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Vacancy.IsRemote"/> @Html.DisplayNameFor(model => model.Vacancy.IsRemote)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Vacancy.ProfessionId" class="control-label"></label>
                <select asp-for="Vacancy.ProfessionId" class="form-control" asp-items="ViewBag.ProfessionId"></select>
                <span asp-validation-for="Vacancy.ProfessionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vacancy.EmployerId" class="control-label"></label>
                <select asp-for="Vacancy.EmployerId" class="form-control" asp-items="ViewBag.EmployerId"></select>
                <span asp-validation-for="Vacancy.EmployerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>